worldenergydata

pandas
pip

bs4
attrs
certifi
cffi
h11
idna
numpy
outcome
pandas

pycparser
PySocks
python-dateutil
pytz

selenium
six
sniffio
sortedcontainers
soupsieve

trio
trio-websocket
typing_extensions
tzdata
urllib3
wsproto
pyyaml

assetutilities

pytest
deepdiff
requests

xmltodict

loguru